*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body
{
font-family: 'Poppins', sans-serif;    
}

.top-container
{
 padding: 10px 20px;
 box-shadow: 0px 1px 20px rgba(186, 186, 186, 0.607);
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 10;
 background-color: white;
 display: flex;
 justify-content:space-between ;
 align-items: center;
}

.shop
{
    background-color: black;
    border: 0px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer; 
}
.shop a
{  
color: white;
text-decoration: none;
}
.shop:hover
{
    background-color: rgb(81, 81, 81);
}

.mid-container
{
    height: 200vh;
    margin:15vh 50px 50px 50px;
}

.lists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 23%;
    margin: 1%;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid rgb(138, 137, 137);
    transition: all 0.3s;
    cursor: pointer;
}
.container:hover{
    transform: scale(1.05);
}
.container img{
    width: 95%;
}
.brand-name{
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cloth-name,.cloth-price,.cloth-mrp{
    font-weight: 300;
  }
.cloth-mrp{
    text-decoration: line-through;
    color: red;
    margin-left: 5px;
  }
.rate{
    margin-bottom: 20px;
}



 /* Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
    .container{
        width: 31.3%;
        margin: 1%;
    }
 }





/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .container{
        width: 48%;
        margin: 1%;
    }

 }

/*  Extra small devices (portrait phones, less than 576px) */
@media ( max-width:  576px) { 
    .container{
        width: 96%;
        margin: 3% 2% 1% 2%;
        border: 1px solid rgb(138, 137, 137);

    }

}





 /* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { ... } */
